registry=https://registry.npmjs.org/

fund=false
audit=false
progress=false

# be tolerant of transient network/proxy behavior
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

# keep TLS strict
strict-ssl=true